body{background-color:beige;}
#adie{text-align: center; 
    background-color: blanchedalmond;
    color:sienna;
}
#lu{width: 30%; 
    float: left;}
#ld{ width: 30%;
     float: left}
#r{ width: 70%;
    float: right;}