:root {
    --light: beige;
}

body{background-color: var(--light);
}

header{text-align: center; 
    background-color: blanchedalmond;
    color:sienna;
}

#about{width: 30%; 
    float:left;
    text-align: left;
    position: relative;
    margin: 5px;
}

#about{ width: 30%;
      float: left;
      position: fixed;
      margin:auto;
      background-color: darkolivegreen;
      border-radius: 50px;

}
    
#LangBox{ width: 30%;
    float:right;
    text-align: center;
    margin:auto;
    background-color: #375a24;
    border-radius: 50px;
}

#change{
    position:relative;
}
#socials{
    position: fixed;
    text-align: center;
    background-color: #b3f49c;
    color: #141618;
    font-size: 20px;
    padding: 10px;
    border-radius: 100px;
    width: 40%;
}

#B{
    position: fixed;
    bottom: 10px;
    text-align: center;
    background-color: #b3f49c;
    color: #141618;
    font-size: 1.5em;
    padding: 10px;
    border-radius: 100px;
    width: 30%;
    height: 50px;
}

#B:hover{
    background-color: #375a24;
}